<div *ngIf="isPopupOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
  <div class="bg-green-100 p-3 rounded-lg ">

    <div class="flex justify-end text-gray-600">
      <button (click)="closePopup()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <div *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <div class="flex justify-center">
      <div class="modal p-2 rounded">

        <form (ngSubmit)="addOrder()">
          <div>
            <label for="itemSelect">Select Item:</label>
            <select id="itemSelect" [(ngModel)]="selectedItem" name="selectedItem">
              <option *ngFor="let item of itemObject.itemtype" [value]="item">{{ item }}</option>
            </select>
          </div>

          <div *ngIf="selectedItem">
            <label for="sizeSelect">Select Item Type: </label>
            <select id="sizeSelect" [(ngModel)]="selectedType" name="selectedType">
              <option *ngFor="let size of itemObject.typeTitle[selectedItem]" [value]="size">{{ size }}</option>
            </select>
          </div>

          <div *ngIf="selectedItem && selectedType">
            <p>Price: {{ itemObject.typePrice[selectedItem][selectedType] | currency }}</p>
          </div>

          <button type="submit" class="px-4 py-1 m-2 text-gray-600 border border-gray-600">Submit</button>
        </form>


      </div>
    </div>

  </div>
</div>
