<div class="bg-teal-100">
  <header class="h-16 bg-teal-400">
    <div class="container mx-auto">
      <h1 class="text-3xl px-4 p-2  text-gray-100">Order Board</h1>
    </div>
  </header>
  <div class="container mx-auto  min-h-svh p-4 ">

    <div class="p-8">
      <div class="flex justify-center w-full flex-wrap">
        <div class="p-4 w-3/12">
          <div class="m-2 bg-green-300 p-4 rounded min-h-[600px] shadow-md">
            <h1 class="text-gray-600 text-2xl font-semibold mb-4">NEW ORDERS</h1>

            <div class="bg-gray-500 rounded opacity-80 mb-2">
              <p class="p-1 font-semibold text-gray-100 text-center text-xl ">122</p>
              <div class="flex flex-col">
                <div class="">
                  <p class="bg-white px-2">Chicken masala x <span>2</span></p>
                  <p class="bg-white px-2">French Fries x <span>Large</span></p>
                  <p class="bg-white px-2">CoKaCola x <span>250 ML</span></p>
                </div>
              </div>
            </div>

            <div class="bg-gray-500 rounded opacity-80 mb-2">
              <p class="p-1 font-semibold text-gray-100 text-center text-xl ">123</p>
              <div class="flex flex-col">
                <div class="">
                  <p class="bg-white px-2">Chicken masala x <span>2</span></p>
                  <p class="bg-white px-2">French Fries x <span>Large</span></p>
                  <p class="bg-white px-2">CoKaCola x <span>250 ML</span></p>
                </div>
              </div>
            </div>




          </div>
        </div>

        <div class="p-4 w-3/12">
          <div class="m-2 bg-purple-300 p-4 rounded min-h-[600px] shadow-md">
            <h1 class="text-gray-600 text-2xl font-semibold mb-4">PREPARING</h1>



            <div class="bg-gray-500 rounded opacity-80 mb-2">
              <p class="p-1 font-semibold text-gray-100 text-center text-xl ">122</p>
              <div class="flex flex-col">
                <div class="">
                  <p class="bg-white px-2">Chicken masala x <span>2</span></p>
                  <p class="bg-white px-2">French Fries x <span>Large</span></p>
                  <p class="bg-white px-2">CoKaCola x <span>250 ML</span></p>
                </div>
              </div>
            </div>

            <div class="bg-gray-500 rounded opacity-80 mb-2">
              <p class="p-1 font-semibold text-gray-100 text-center text-xl ">123</p>
              <div class="flex flex-col">
                <div class="">
                  <p class="bg-white px-2">Chicken masala x <span>2</span></p>
                  <p class="bg-white px-2">French Fries x <span>Large</span></p>
                  <p class="bg-white px-2">CoKaCola x <span>250 ML</span></p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="p-4 w-3/12">
          <div class="m-2 bg-lime-200  p-4 rounded min-h-[600px] shadow-md">
            <h1 class="text-gray-600 text-2xl font-semibold mb-4">PREPARED</h1>



            <div class="bg-gray-500 rounded opacity-80 mb-2">
              <p class="p-1 font-semibold text-gray-100 text-center text-xl ">122</p>
              <div class="flex flex-col">
                <div class="">
                  <p class="bg-white px-2">Chicken masala x <span>2</span></p>
                  <p class="bg-white px-2">French Fries x <span>Large</span></p>
                  <p class="bg-white px-2">CoKaCola x <span>250 ML</span></p>
                </div>
              </div>
            </div>

            <div class="bg-gray-500 rounded opacity-80 mb-2">
              <p class="p-1 font-semibold text-gray-100 text-center text-xl ">123</p>
              <div class="flex flex-col">
                <div class="">
                  <p class="bg-white px-2">Chicken masala x <span>2</span></p>
                  <p class="bg-white px-2">French Fries x <span>Large</span></p>
                  <p class="bg-white px-2">CoKaCola x <span>250 ML</span></p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="p-4 w-3/12">
          <div class="m-2 bg-orange-200 p-4 rounded min-h-[600px] shadow-md">
            <h1 class="text-gray-600 text-2xl font-semibold mb-4">DELIVERED</h1>



            <div class="bg-gray-500 rounded opacity-80 mb-2">
              <p class="p-1 font-semibold text-gray-100 text-center text-xl ">122</p>
              <div class="flex flex-col">
                <div class="">
                  <p class="bg-white px-2">Chicken masala x <span>2</span></p>
                  <p class="bg-white px-2">French Fries x <span>Large</span></p>
                  <p class="bg-white px-2">CoKaCola x <span>250 ML</span></p>
                </div>
              </div>
            </div>

            <div class="bg-gray-500 rounded opacity-80 mb-2">
              <p class="p-1 font-semibold text-gray-100 text-center text-xl ">123</p>
              <div class="flex flex-col">
                <div class="">
                  <p class="bg-white px-2">Chicken masala x <span>2</span></p>
                  <p class="bg-white px-2">French Fries x <span>Large</span></p>
                  <p class="bg-white px-2">CoKaCola x <span>250 ML</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
